* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-entry > li:nth-child(odd) {
  padding: 0.25rem;
}

ul {
  display: flex;
  flex-direction: column;
}

ul > li:nth-child(even) {
  text-align: end;
  align-self: flex-end;
  padding: 0.25rem;
}

.text-entry {
  list-style-type: none;
}

.chat-box {
  border: 1px solid green;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 800px;
}

.chat-box-item {
  max-width: 75%;
  font-size: 1rem;
}

.list-container {
  height: 500px;
  margin-top: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-item {
  min-height: 400px;
}
